*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    #size{
        position:absolute;
        top:60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 35px;
        color:red;
      
      }

      .container{
          height: 100vh;
      }

      .height{}

      .main{

      }
} 